body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.carousel-slider {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

h3 {
  text-transform: uppercase;
}

.dot {
  color: #c62a88;
}
